.page-header
  .btn-group.pull-right
    = link_to_edit edit_user_path(@user)
    = link_to_index users_path
    = link_to_new new_user_path
  %h1 User

%p
  %b Email:
  = @user.email
- if @user.is_admin?
  %p [ Is Admin ]
